{% extends 'base.html' %}
{% load static %}

{% block meta %}
{% endblock meta %}
  
{% block content %}

<div class="container-fluid">
    <div class = "row">
        <div class="col-sm-12">
            <h2 class="text-center" style="margin-top: 20px;"><b>Let's Log In First, Shall We?</b></h2>
            <br>
            <br>
            <div class="col d-flex justify-content-center ">
                <div class="card " style="width: 50rem;">
                    <div class="card-header" style="background-color: #232065;">
                        <p style="text-align: center; font-weight: bolder; color: white; font-size: larger;">LOG IN</p>
                    </div>
                    <div class="card-body">
                        <form class="align-self-center" action="" method="POST">
                            {% csrf_token %}
                            {{ form }}
                            <br>
                            <input type="hidden" name="next" value="{{ request.GET.next }}"/>
                            <button style= "background-color: #232065" type="submit" class="btn btn-primary btn-m">Login</button>
                        </form>
                        <p style="margin-top: 10px;">
                            Don't have an account yet? <a class="sign-up-in-link" href="{% url 'Blog:signup' %}"><strong>Sign up.</strong></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}